.cart-page {
    padding: 20px;
  }
  
  .head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  

  .buy-now-button {
    padding: 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  